#Main{
    display: flex;
}

.leftCol{
    display: flex;
    height: 100vh;
    width: 20rem;
    flex-direction: column;
    justify-content: space-evenly;
}

#imgContainer{
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
    position: fixed;
}

.urlImage{
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    object-fit: contain;
}

img { 
    max-width:50%; 
    height: fit-content; 
} 
.urlViewer{
    display: flex;
     width: 100vh;
     height: 80vh;
 }
